body{
	font-size: 16px;
	background-color: green;
	color: white;
	
}
span{
	font-size: 30px;
}
#header-nav{
	background-color: #47d147;
	border-radius: 0;
	border: 0;
	text-shadow: 1px 1px 1px #222;
}

#nav-list{
	text-shadow: none;
	
}
#nav-list a{
	color: black;
	text-align: center;
	font-size: 20px;

}
#nav-list a:hover{
	background-color: white;
}
